{% extends "base.html" %}
{% block content %}
<h2>学校搜索</h2>
<form action="/search_school" class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-2 control-label">关键词</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="keyword" >
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">奖学金</label>
        <div class="col-sm-10">
            <select name="scholarship" class="form-control">
                <option value="">任意</option>
                <option value="有">有</option>
                <option value="无">无</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">院校性质</label>
        <div class="col-sm-10">
            <select name="private_or_public" class="form-control">
                <option value="">任意</option>
                <option value="私立">私立</option>
                <option value="公立">公立</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">地理位置</label>
        <div class="col-sm-10">
            <select name="location" class="form-control">
                <option value="">任意</option>
                <option>东北北海道地区</option>
                <option>乔治亚州</option>
                <option>九州中国地区</option>
                <option>亚利桑那州</option>
                <option>伊利诺州</option>
                <option>佛罗里达州</option>
                <option>佛蒙特州</option>
                <option>俄亥俄州</option>
                <option>俄克拉荷马州</option>
                <option>俄勒冈州</option>
                <option>关东地区</option>
                <option>关西地区</option>
                <option>内华达州</option>
                <option>内布拉斯加州</option>
                <option>加利福尼亚州</option>
                <option>北卡罗来纳州</option>
                <option>北爱尔兰</option>
                <option>北达科他州</option>
                <option>华盛顿哥伦比亚特区</option>
                <option>华盛顿州</option>
                <option>南卡罗来纳州</option>
                <option>南达科他州</option>
                <option>印第安那州</option>
                <option>堪萨斯州</option>
                <option>夏威夷州</option>
                <option>威尔士</option>
                <option>威斯康星州</option>
                <option>安大略省</option>
                <option>宾夕法尼亚州</option>
                <option>密歇根州</option>
                <option>密苏里州</option>
                <option>密西西比州</option>
                <option>康涅狄格州</option>
                <option>弗吉尼亚州</option>
                <option>德克萨斯州</option>
                <option>德拉瓦州</option>
                <option>怀俄明州</option>
                <option>新不伦瑞克省</option>
                <option>新墨西哥州</option>
                <option>新斯科舍</option>
                <option>新泽西州</option>
                <option>新罕布什尔州</option>
                <option>明尼苏达州</option>
                <option>曼尼托巴省</option>
                <option>爱德华王子岛</option>
                <option>爱荷华州</option>
                <option>爱达荷州</option>
                <option>犹他州</option>
                <option>田纳西州</option>
                <option>科罗拉多州</option>
                <option>纽约州</option>
                <option>纽芬兰</option>
                <option>缅因州</option>
                <option>罗德岛州</option>
                <option>肯塔基州</option>
                <option>育空省</option>
                <option>苏格兰</option>
                <option>英属哥伦比亚省</option>
                <option>英格兰</option>
                <option>萨斯喀彻温</option>
                <option>蒙大拿州</option>
                <option>西弗吉尼亚州</option>
                <option>路易斯安那州</option>
                <option>阿尔伯塔省</option>
                <option>阿拉巴马州</option>
                <option>阿拉斯加州</option>
                <option>阿肯色州</option>
                <option>马里兰州</option>
                <option>魁北克省</option>
                <option>麻塞诸塞</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">搜索</button>
        </div>
    </div>
</form>

<h2>中介搜索</h2>
<form action="/search_med" class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-2 control-label">关键词</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="keyword" >
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">项目</label>
        <div class="col-sm-10">
            <select name="degree" class="form-control">
                <option value="">任意</option>
                <option>预科</option>
                <option>联合办学</option>
                <option>硕士</option>
                <option>博士</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">国家</label>
        <div class="col-sm-10">
            <select name="country" class="form-control">
                <option value="">任意</option>
                <option>美国</option>
                <option>英国</option>
                <option>西班牙</option>
                <option>澳洲</option>
                <option>加拿大</option>
                <option>欧洲</option>
                <option>香港</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">关注点</label>
        <div class="col-sm-10">
            <select name="focus" class="form-control" required>
                <option value="2">规模</option>
                <option value="5">顾问平均从业时间</option>
                <option value="6">服务态度与效率</option>
                <option value="7">问题处理效率</option>
                <option value="8">口碑</option>
                <option value="9">文书质量</option>
                <option value="10">价格</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">搜索</button>
        </div>
    </div>
</form>
{% endblock %}
